@page
@model TestCasesWebApp.Pages.TestCases.IndexModel
@{
}

<div class="container text-center">
    <form method="post" class="mt-5">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Test Case:</label>
                    <select class="form-control" asp-for="TestCase" asp-items="@Model.testCaseComboBox"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Format:</label>
                    <select class="form-control" asp-for="Format" asp-items="@Model.formatComboBox"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Serialize in library:</label>
                    <select id="serialize" class="form-control" asp-for="SerializeIn" asp-items="@Model.executableCombobox"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Deserialize in library:</label>
                    <input id="deserialize" class="form-control" asp-for="DeserializeIn" asp-items="@Model.executableCombobox" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary mx-auto">Run Test Case</button>
            </div>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#serialize").change(function () {
            var selectedValue = $(this).val();
            console.log("Selected value: " + selectedValue);
            $("#deserialize").val(selectedValue === "java" ? "python" : "java");
        });
    });
</script>
