@page
@model TestCasesWebApp.Pages.TestCases.ResultModel
@{
}

<body style="background-color: @(Model.TestCaseResult.Result ? "#eaf7ea" : "#f7eaea")">
    <div class="container">
        <div class="row text-center">
            <div class="col-6">
                <div class="textarea">
                    <h4>Serialized Document</h4>
                    <textarea readonly rows="10" class="form-control">@Model.TestCaseResult.SerializedDocument</textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="textarea">
                    <h4>Deserialized Document</h4>
                    <textarea readonly rows="10" class="form-control">@Model.TestCaseResult.DeserializedDocument</textarea>
                </div>
            </div>
        </div>
        @if (Model.TestCaseResult.Exception != null)
        {
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <button type="button" class="btn btn-danger" onclick="openModal('exModal')">Exceptions</button>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12 text-center mt-3">
                <button type="button" class="btn btn-primary" onclick="openModal('desModal')">Description</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <a asp-page="/TestCases/Index" class="btn btn-secondary">Back</a>
            </div>
        </div>

        <div class="col-6">
            <dialog id="desModal">
                <div>
                    <button onclick="closeModal('desModal')">Close</button>
                    <div id="markdownContent"></div>
                </div>
            </dialog>
        </div>
        <div class="col-6">
            <dialog id="exModal">
                <div>
                    <button onclick="closeModal('exModal')">Close</button>
                    <p>@Model.TestCaseResult.Exception</p>
                </div>
            </dialog>
        </div>
    </div>

    @section scripts {
        <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
        
        <script>
            function openModal(id) {
                const myModal = document.getElementById(id);
                myModal.showModal();
            }

            function closeModal(id) {
                const myModal = document.getElementById(id);
                myModal.close();
            }
        </script>
        <script>
            const md = new Remarkable();

            const markdownContent = `@Html.Raw(Model.TestCaseResult.Description)`;

            const renderedHtml = md.render(markdownContent);

            document.getElementById('markdownContent').innerHTML = renderedHtml;
        </script>
    }
</body>
