@page
@model IndexModel
@{
    ViewData["Title"] = "PROV Interoperability Tester";
}

<div class="container text-center">
    <h1>Welcome to the PROV libraries compatibility Tester!</h1>

    <h2>Overview</h2>
    <p>
        Welcome to the PROV libraries compatibility Tester, a web application developed as part of my bachelor thesis. This web page
        showcases compatibility issues I found during my bachelor thesis.
    </p>
    <p>
        The focus of this project revolves around testing the compatibility between two libraries: ProvToolbox and Prov Python, and their compatibility with three serialization formats: PROV-N, PROV-JSON, and PROV-XML.
        Each issue begins with a PROV-N file, allowing users to visualize the generated content in memory for each library. This PROV document is then serialized into the user's chosen serialization format (PROV-N, PROV-JSON, or PROV-XML).
        Subsequently, the deserialized document is serialized back to reveal the content stored in memory by that library, allowing user to observe compatibility issues.
        Finally, a PROV document is created using the starting PROV-N file and compared to the deserialized document, highlighting any compatibility differences between the libraries.
        Each issue is accompanied by a description explaining its underlying causes, as well as showcasing the exception that occurs when the issue arises.
    </p>
    <div class="mt-5 mb-5">
        <a asp-page="/TestCases/Index" class="btn btn-primary btn-lg">Explore Test Cases</a>
    </div>
    <h2>How It Works</h2>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h4>Select a test case, format and library </h4>
                <p>

                    Select a specific issue from the available options, along with the serialization format in which the test case will be executed, and specify the library you intend to use for serialization. The library for deserialization will be automatically determined based on your selection.
                </p>
            </div>
            <div class="col-12 col-lg-4">
                <h4>Run the test case</h4>
                <p>
                    With a click, initiate the test. Application executes the selected test case against
                    the two libraries. The results will be displayed showcasing the serialized and deserialized documents, along with additional information.
                </p>
            </div>
            <div class="col-12 col-lg-4">
                <h4>Interpret the Results</h4>
                <p>
                    You are given a starting PROV-N file to visualize the content generated within the library.
                    Additionally, you will receive both the serialized and deserialized documents, providing insights into both the serialization and deserialization processes.
                    In the end, if the documents are identical in memory, the background will be green; otherwise, it will be red.
                    Moreover, you can review the description for further insights into the issue's occurrence and observe any exceptions thrown.
                </p>
            </div>
        </div>
    </div>
</div>
